<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'javascript/js_tema.js' %}"></script>
    <title>Story 7</title>
    <script>
    $( function() {
        $( "#accordion" ).accordion();
        } );
    </script>
</head>

<body id="bg">   
  <h1>Halo, ini beberapa hal tentang Saya</h1>

    <div id="accordion">
      <h3>Aktivitas Saat Ini</h3>
      <div>
        <p>
        Aktivitas yang Saya lakukan akhir-akhir ini adalah kuliah dengan giat dan 
        mengerjakan story PPW setiap minggunya. Selain itu Saya juga mengikuti kegiatan
        olahraga futsal setiap minggunya.
        </p>
      </div>
      <h3>Pengalaman Organisasi/Kepanitaan</h3>
      <div>
        <p>
          <ul>
            <li>OSIS SMA</li>
            <li>BEM DEPOR</li>
            <li>Staff CSL</li>
          </ul>
        </p>
      </div>
      <h3>Prestasi</h3>
      <div>
        <p>
          <ul>
            <li>Juara 1 Melanggar perintah Allah</li>
            <li>Juara Harapan cukup banyak Futsal OLIM UI</li>
            <li>Juara 3 ADV Cup</li>
          </ul>
        </p>
      </div>
    </div>
    <button type="button" onclick="lightmode()">Light</button>
    <button type="button" onclick="darkmode()">Dark</button>
  </body>
</html>